@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.green-underline {
  text-decoration: underline;
  text-decoration-color: #4AC959;
}

@layer components {
  .input {
    @apply border border-[#06152B] p-2 rounded-sm mt-1
  }

  .label-input {
    @apply flex flex-col mb-4
  }
}
